<div class="callout MC PC">
  <div class="flex-container align-justify">
    <h5>Log in</h5>
    <a href="">Sign Up</a>
  </div>
  <form>
    <label>E-mail or Username
      <input type="email">
    </label>
    <div class="radio">
      <input type="radio" id="rememberMe"><label for="rememberMe">Remember Me</label>
    </div>
    <label>Password
      <input type="password" aria-describedby="passwordHelpText">
    </label>
    <div class="forgot">
        <a href="">Forgot Password?</a>
    </div>
    <button class="primary-button">Continue</button>
  </form>
</div>
