<div class="callout div-log-in">
  <div class="flex-container align-justify">
    <h5 class="h5">Log in</h5>
    <a class="basic-paragraph" routerLink="/signin">Sign In</a>
  </div>
  <hr>
  <form #loginForm="ngForm" (submit)="onLogIn(loginForm)">
    <label class="span basic-paragraph">E-Mail
      <input
      type="text"
      ngModel
      name="email"
      #email="ngModel"
      required
      >
    </label>
    <label class="span basic-paragraph">Password
      <input
      type="password"
      ngModel
      name="password"
      #password="ngModel"
      required
      >
    </label>
    <hr>
    <button class="primary-button" type="submit">Continue</button>
  </form>
</div>
