<!-- <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
</div> -->

<div class="top-bar M ">
  <div class="top-bar-left">
    <ul class="menu vertical medium-horizontal">
    <li class="is-active"><a class="home" routerLink="/">EsterDesunion</a></li>
    <li><a routerLink="send-money">Send Money</a></li>
    <li><a routerLink="pick-up-money">Pick Up Cash</a></li>
    <li><a routerLink="track-transfer">Track Transfer</a></li>
    <li><a routerLink="pay-bills">Pay Bills</a></li>
    <li><a routerLink="find-locations">Find Locations</a></li>
    <li><a>Help</a></li>
  </ul>
    </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button" class="PBTN" routerLink="/login">Log in</button></li>
      <li><button type="button" class="SBTN" routerLink="/singin">Sign in</button></li>
    </ul>
  </div>
</div>
