<div class="top-bar">
  <ul class="menu align-right">
    <li class="is-active"><a class="home" routerLink="/">EsterDesunion</a></li>
    <li><a routerLink="send-money">Send money</a></li>
    <li><a routerLink="pick-up-money">Pick up cash</a></li>
    <li><a>Track transfer</a></li>
    <li><a>Pay bills</a></li>
    <li><a>Find locations</a></li>
    <li><a>Help</a></li>
  </ul>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button" class="button primary" routerLink="/login">Log in</button></li>
      <li><a> Sing in</a></li>
    </ul>
  </div>
</div>
