@import "./../../styles";

.alternative-button {
  display: none;
}

.menu {
    background-color: $primaryFontColor;
    padding: $menuPadding;
    height: 45px;
    ul {
        background-color:  $primaryFontColor;
        margin: 0;
        padding: 0;
        a {
        font-family: $primaryFont;
        color: $secundaryFontColor;
        border-right: 1px solid $borderColor;
            &:hover {
                background-color: $borderColor;
            }
        }
        li {
            .home {
            @include logo();
            }
        }
        .is-active {
            @include breakpoint(1080px) {
                display: none;
            }
        }
    }
    ul {
        @include breakpoint(1080px) {
//            float: right;
        }
    }
}
