@import "./../../styles";

  ul li:hover {
    background: #ceced1;
}

ul li a {
  color: azure;
}

ul li .home {
  color: azure;
}

.top-bar, ul {
  background: #333;
  padding: 10px;
}

.secundary {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 2px;
}


