@import "./../../styles";

.M {
    background-color: $MF_BG_COLOR;
    border-bottom: $MF_BORDER;
    padding: $M_PADDING;
    ul {
        background-color:  $MF_BG_COLOR;
        a {
        font-family: $PRIMARY_FONT;
        color: $PBTN_FONT_COLOR;
            &:hover {
                border-bottom: 1px solid #7A9E7E;
            }
        }
        li {
            .home {
            @include logo();
            }
        }
    }
}
