@import "./../../styles";

.image {
  background-image: url("./../../assets/plato-restaurant.jpg");
  background-size: 100%;
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: -1;
    @include breakpoint (823px) {
        display: none;
    }
}

.paragraf {
    margin-top: 20px;
    color: $PRIMARY_FONT_COLOR;
    &:hover {
  font-size: 1.2em;
    }
}

.middle-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: auto;
  margin-top: 150px;
  margin-bottom: 180px;
    .P {
        font-size: 20px;
    }
    h1 {
    @include breakpoint (823px) {
        color: $PBTN_BG_COLOR;
    }
    }
}

.BTN {
    width: 30%;
    height: 20%;
}