<mat-card>
  <p>Log In</p>
  <mat-form-field appearance="fill">
    <mat-label>E-mail or username</mat-label>
    <input matInput rows="6" placeholder="E-mail or username">
    </mat-form-field>
    <mat-radio-button color="primary" value="1">Remember me</mat-radio-button>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput rows="6" placeholder="Password" [(ngModel)]='enteredValue' value="name">
  </mat-form-field>
  <a href="">Forgot Password?</a>
  <button
  color = "primary"
  mat-raised-button
  (click)="onAddPost()">Continue</button>
</mat-card>
<p>{{ newPost }}</p>
