.mainDiv {
  /* margin-top: 5px; */
}

.menu {
  /* background: #333; */
}
  ul li:hover {
    background: #ceced1;
}

ul li a {
  color: azure;
}

ul li .home {
  color: azure;
}

.top-bar, ul {
  background: #333;
  padding: 10px;
}
