@import "./../../styles.scss";

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  .form-div {
    width: 65%;
  }
  .side-div {
    width: 30%;
    .callout-title {
      width: 100%;
      border-bottom: 2px solid $borderColor;
      margin-bottom: 5%;
    }
  }
}

.personal-info-form, .create-account-form {
  width: 80%;
  margin: auto;
}

.create-account {
  margin-top: 15px;
  margin-bottom: 15px;
}

.top-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
