/* PRIMARY BUTTON STYLE*/

.PBTN {
    border-radius: $PBTN_RADIOUS;
    background-color: $PBTN_BG_COLOR;
    font-family: $PBTN_FONT;
    padding: $PBTN_PADDING;
    color: $PBTN_FONT_COLOR;
    margin: $PBTN_MARGIN;
    &:hover {
        opacity: .8;
    }
}

/* PRIMARY BUTTON STYLE*/

.SBTN {
    background-color: $SBTN_BG_COLOR;
    border: $SBTN_BORDER;
    border-radius: $SBTN_RADIOUS;
    font-family: $SBTN_FONT;
    padding: $SBTN_PADDING;
    color: $SBTN_FONT_COLOR;
    margin: $SBTN_MAGIN;
        &:hover {
        background-color: $SBTN_HOVEROVER_COLOR;
    }
}

/* H1 STYLE */

.H1 {
    font-family: $H1_FONT;
    color: $H1_FONT_COLOR;
    font-size: $H1_FONT_SIZE
}

/* PARAGRAPH */

.P {
    font-family: $P_FONT;
    color: $P_FONT_COLOR;
}

/* MAIN CONTAINER */

.MC {
    width: $MC_WIDTH;
    margin: $MC_MARGIN;
    padding: $MC_PADDING;
}

/* PRIMARY CARD */

.PC {
    background-color: $PC_BG_COLOR;
    border-top: $PC_BORDER;
}

/* MENU AND FOOTER */

.M {
    background-color: $MF_BG_COLOR;
    border-bottom: $MF_BORDER;
}

.F {
    background-color: $MF_BG_COLOR;
    border-top: $MF_BORDER;
    height: 500px;
}


