/* PRIMARY BUTTON STYLE*/

.primary-button {
    background-color: $buttonBGColor;
    font-family: $primaryFont;
    padding: $buttonPadding;
    color: $primaryFontColor;
    margin: $buttonMargin;
    width: 85px;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}

/* SECUNDARY BUTTON STYLE*/

.secundary-button {
    background-color: $secundaryButtonBGColor;
    font-family: $primaryFont;
    padding: $buttonPadding;
    color: $primaryFontColor;
    margin: $buttonMargin;
    width: 85px;
    cursor: pointer;
        &:hover {
          opacity: .8;
    }
}

.alternative-button {
  background-color: #E24264;
}

.input-button {
  background-color: $secundaryButtonBGColor;
  font-family: $primaryFont;
}

/* LARGE BUTTON */

.large-button {
  width: 100%;
  background-color: $largeButtonColor;
  margin: 3px;
}

/* H1 STYLE */

.h1 {
    font-family: $primaryFont;
    font-size: $h1FontSize;
}

.h5, .h4, .h3 {
    font-family: $primaryFont;
}

/* PARAGRAPH */

.basic-paragraph {
  font-family: $secundaryFont;
}

.paragraph {
    font-family: $secundaryFont;
    font-size: 1.1rem;
}

.span {
  font-weight: 700;
}

/* MAIN CONTAINER */

.main-container {
    width: $mainContainerWidth;
    margin: $mainContainerMargin;
    padding: $mainContainerPadding;
}

/* MENU AND FOOTER */

// .footer {
//     height: 500px;
// }

/* INPUT */

.input-form {
  margin: 10px;
}

/* ANCHOR */

/* BASIC DIV ON PROFILE PAGE */

.basics-div {
  width: 90%;
  margin: auto;
}

.form-div {
  display: flex;
  flex-direction: column;
}

