@mixin logo($bgcolor: $borderColor, $borderR: 5px) {
    background-color: #fff;
    color: $MF_BG_COLOR;
    border: none;
    font-family: $logoFont;
    font-size: 1.1rem;
    // &:hover {
    //     background-color: $MF_BG_COLOR;
    //     color: $MF_BG_COLOR;
    // }
}

@mixin breakpoint($length) {
    @media (max-width: $length) {
        @content;
    }
}
