/* COLOR PALETTE

#001A23 MENU AND FOOTER BG COLOR
#7A9E7E MENU AND CARDS BORDERS COLOR
#B3EFB2 BUTTONS COLOR
#31493C HOVEROVER EFFECT & SECUNDARY BUTTON COLOR
#E8F1F2 CARDS BG COLOR

/* DECLARACION DE VARIABLES*/

$primaryFont: 'Oswald', sans-serif;
$secundaryFont: 'Raleway', sans-serif;
$logoFont: 'Modak', cursive;
$primaryFontColor: #FFFFFF;
$secundaryFontColor: #000000;

/* primary btn */

$buttonBGColor: #B3EFB9;
$buttonPadding: 10px 20px;
$buttonMargin: 1px;

/* secundary btn */

$secundaryButtonBGColor: #9AC2C5;

/* main container */

$mainContainerWidth: 70%;
$mainContainerMargin: 30px auto 80px auto;
$mainContainerPadding: 5px;

/* primary card */

$borderColor: #E8F1F2;

/* logo */

$logoBGColor: #001A23;

/* menu & footer*/

// $menuBorder: solid 2px $borderColor;
$menuPadding: 30px;

/* h1 */

$h1FontSize: 2.5rem;

/* p */

$pharagraphFont: $secundaryFont;
$secundaryParagraph: 'Oswald', sans-serif;

/* Anchor */

