/* DECLARACION DE VARIABLES*/ 

$CALLOUT_BG_COLOR: rgb(216, 219, 218);
$PRIMARY_FONT: 'Roboto', sans-serif;
$SECUNDARY_FONT: 'Open Sans', sans-serif;

/* primary btn style*/

$PBTN_BG_COLOR: #5771d6;
$PBTN_RADIOUS: 3px;
$PBTN_HOVEROVER: #7886ba;
$PBTN_FONT: 'Roboto', sans-serif;