/* DECLARACION DE VARIABLES*/ 

$CALLOUT_BG_COLOR: rgb(216, 219, 218);
$PRIMARY_FONT: 'Roboto', sans-serif;
$SECUNDARY_FONT: 'Open Sans', sans-serif;

/* primary btn style*/

$PBTN_BG_COLOR: #5771d6;
$PBTN_RADIOUS: 3px;
$PBTN_HOVEROVER: #7886ba;
$PBTN_FONT: 'Roboto', sans-serif;
$PBTN_PADDING: 10px 20px;
$PBTN_FONT_COLOR: #FFFFFF;
$PBTN_MARGIN: 1px;

/* secundary btn style*/

$SBTN_BG_COLOR: transparent;
$SBTN_BORDER: solid 1px #FFFFFF;
$SBTN_RADIOUS: 3px;
$SBTN_HOVEROVER: #7886ba;
$SBTN_FONT: 'Roboto', sans-serif;
$SBTN_PADDING: 10px 20px;
$SBTN_FONT_COLOR: #FFFFFF;
$SBTN_MAGIN: 1px;