<p class="paragraph">Add information about yourself</p>
<hr>
<div>
  <h5 class="h5">Basics:</h5>
  <div class="basics-div">
    <form #singInForm="ngForm" >
      <p>{{ name }}</p>
      <div class="personal-info-form form-div">
        <div class="input-group">
          <input class="input-group-field" type="text">
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <div class="input-group">
          <input class="input-group-field" type="text">
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <div class="input-group">
          <input class="input-group-field" type="text">
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <div class="input-group">
          <input class="input-group-field" type="text">
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <div class="input-group">
          <input class="input-group-field" type="text">
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
      </div>
      <hr>
      <button class="alternative-button primary-button" type="submit">SAVE</button>
    </form>
  </div>
  <hr>
</div>
