<p class="paragraph">Add information about yourself</p>
<hr>
<div>
  <h5 class="h5">Basics:</h5>
  <hr>
  <div class="basics-div" *ngFor="let users of user">
    <br>
      <div class="form-div">
          <p class="basic-paragraph span">First Name:</p><p class="paragraph">{{ users.name }}</p>
          <p class="basic-paragraph span">Last Name:</p><p class="paragraph">{{ users.lastName }}</p>
          <p class="basic-paragraph span">Phone Number:</p><p class="paragraph">{{ users.phoneNumber }}</p>
          <p class="basic-paragraph span">Country:</p><p class="paragraph">{{ users.country }}</p>
          <p class="basic-paragraph span">State:</p><p class="paragraph">{{ users.state }}</p>
      </div>
      <button class="secundary-button" routerLink="/profile/edit">EDIT</button>
  </div>
  <hr>
</div>
