<p class="paragraph">Add information about yourself</p>
<hr>
<div>
  <h5 class="h5">Basics:</h5>
  <hr>
  <div class="basics-div" *ngFor="let users of user">
    <br>
    <form #singInForm="ngForm">
      <div class="form-div">
          <p class="basic-paragraph">Name</p>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.name }}" disabled>
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <p class="basic-paragraph">Last Name</p>

        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.lastName }}" disabled>
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <p class="basic-paragraph">Phone Numbre</p>

        <div class="input-group">
          <input class="input-group-field" type="number" placeholder="{{ users.phoneNumber }}" disabled>
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <p class="basic-paragraph">Country</p>

        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.country }}" disabled>
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
        <p class="basic-paragraph">State</p>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.state }}" disabled>
          <div class="input-group-button">
            <input type="submit" class="button input-button" value="EDIT">
          </div>
        </div>
      </div>
      <button class="alternative-button primary-button" type="submit">SAVE</button>
    </form>
  </div>
  <hr>
</div>
