@import "./../../styles.scss" ;

.mainDiv {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sendMoneyDiv {
  width: 68%;
  background-color: rgb(216, 219, 218);
}

.summaryDiv {
  width: 28%;
  background-color: $CALLOUT_BG_COLOR;

}

.receiverDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sendupDiv {
  width: 95%;
}

.tipoCambio  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

hr {
  margin: 1px;
}
