<div class="mainDiv">
  <div class="callout sendMoneyDiv">
    <h4>Send Money Online</h4>
    <div class="receiverDiv">
      <a href="">Send to someone new</a>
    </div>
    <form action="">
        <div class="grid-container">
          <label for="">Your receiver and send amount
            <input type="text">
          </label>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-6 cell">
                <label>Send Amount
                  <input type="number">
                </label>
              </div>
              <div class="medium-6 cell">
                <label>Receive Amount
                  <input type="number">
                </label>
              </div>
            </div>
          </div>
    </form>
    <div class="callout primary sendupDiv">
      <p>Send up to 5,000.00 USD</p>
    </div>
  </div>
  <div class="callout summaryDiv">
    <h5>Summary</h5>
  </div>
</div>
