<div class="mainDiv MC">
  <div class="callout sendMoneyDiv PC">
    <h4>Send Money Online</h4>
    <div class="receiverDiv">
      <a href="">Send to someone new</a>
    </div>
    <form (submit)="onContinue(sendForm)" #sendForm="ngForm">
        <div class="grid-container">
          <label for="">Your receiver and send amount
            <input
            type="text"
            name="reciever"
            ngModel
            required
            #receiver="ngModel"
            >
          </label>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-6 cell">
                <label>Send Amount
                  <input
                  type="number"
                  name="sendAmount"
                  ngModel
                  required
                  >
                </label>
              </div>
              <div class="medium-6 cell">
                <label>Receive Amount
                  <input
                  type="number"
                  name="recieverAmount"
                  ngModel
                  >
                </label>
              </div>
            </div>
          </div>
          <div class="callout primary sendupDiv">
            <p>Send up to 5,000.00 USD</p>
          </div>
          <button class="PBTN BSTYLE" type="submit"><span class="button_words">Continue</span></button>
        </form>
  </div>
  <div class="callout summaryDiv PC">
    <app-send-money-summary></app-send-money-summary>
  </div>
</div>
