<div class="main-div">
  <div class="side-left">
    <div class="user-avatar"><p class="paragraph paragraph-avatar">LS</p></div>
  </div>
  <div class="side-rigth">
    <h1 class="h1">
      My Profile
    </h1>
    <p class="paragraph">Add information about yourself</p>
    <hr>
    <div>
      <h5 class="h5">Basics:</h5>
      <div class="basics-div">
        <p class="basic-paragraph">Name:</p>
        <p class="basic-paragraph">Last Name:</p>
        <p class="basic-paragraph">Country:</p>
        <p class="basic-paragraph">State:</p>
        <p class="basic-paragraph">E-mail:</p>
      </div>
      <hr>
    </div>
  </div>
</div>
