<p class="paragraph">My Beneficiaries</p>
<hr>
<div>
  <h5 class="h5">List of Beneficiaries:</h5>
  <hr>
  <br>
  <div class="basics-div">
    <div *ngIf="beneficiary.length > 0">
        <mat-card class="card" *ngFor="let beneficiaries of beneficiary">
          <div class="card-section">
            <p class="paragraph"><span class="span">{{ beneficiaries.name }}, </span>{{ beneficiaries.country }}</p>
          </div>
          <button class="secundary-button">EDIT</button>
          <button class="alternative-button primary-button">DELETE</button>
        </mat-card>
    </div>
    <mat-card *ngIf="beneficiary.length <= 0" class="lengthCero">
        <div class="card-section">
          <p class="paragraph">You have not beneficiaries yet!!</p>
        </div>
    </mat-card>
    <button class="secundary-button" routerLink='/profile/addBeneficiary'>ADD</button>
  </div>
  <hr>
</div>
