<p class="paragraph">Edit Profile</p>
<hr>
<div>
  <h5 class="h5">Basics:</h5>
  <hr>
  <div class="basics-div" *ngFor="let users of user">
    <br>
    <form>
      <div class="form-div">
        <p class="basic-paragraph">Name:</p>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.name }}">
        </div>
        <p class="basic-paragraph">Last Name:</p>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.lastName }}">
        </div>
        <p class="basic-paragraph">Phone Number:</p>
        <div class="input-group">
          <input class="input-group-field" type="number" placeholder="{{ users.phoneNumber }}">
        </div>
        <p class="basic-paragraph">Country:</p>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.country }}">
        </div>
        <p class="basic-paragraph">State:</p>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="{{ users.state }}">
        </div>
      </div>
      <button class="primary-button" (click)="onSave()">SAVE</button>
    </form>
  </div>
  <hr>
  <h5 class="h5">More About Me</h5>
  <p class="basic-paragraph">Add An Adrress:</p>
  <hr>
  <div class="basics-div">
    <br>
    <form>
      <div class="form-div">
        <p class="basic-paragraph">Street:</p>
        <div class="input-group">
          <input class="input-group-field" type="text">
        </div>
        <p class="basic-paragraph">City:</p>
        <div class="input-group">
          <input class="input-group-field" type="text">
        </div>
        <p class="basic-paragraph">Zipe Code:</p>
        <div class="input-group">
          <input class="input-group-field" type="text">
        </div>
      </div>
      <button class="primary-button" (click)="onSave()">SAVE</button>
    </form>
  </div>
  <hr>
</div>
