<p class="paragraph">My Account</p>
<hr>
<div>
  <h5 class="h5">Account Overview:</h5>
  <hr>
  <br>
  <div class="basics-div" *ngFor="let users of user">
    <br>
      <div class="form-div">
        <p class="basic-paragraph">Username:</p><p class="paragraph">{{ users.username }}</p>
        <p class="basic-paragraph">E-mail:</p><p class="paragraph">{{ users.email }}</p>
        <p class="basic-paragraph">Password:</p><p class="paragraph">--------</p>
      </div>
      <button class="secundary-button" [routerLink]="['/profile/editMyAccount', users._id]">EDIT</button>
      <button class="alternative-button primary-button">DELETE</button>
  </div>
  <hr>
</div>
